{% extends "template.html" %}

{% block css %}
<style>
    .mensagem {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        z-index: 1000;
        display: none;
    }
    .mensagem-sucesso {
        background-color: #28a745; /* Verde para sucesso */
    }
    .mensagem-erro {
        background-color: #dc3545; /* Vermelho para erro */
    }
</style>
{% endblock %}


{% block titulo %} ADM {% endblock %}

{% block main %}
{% with mensagens = get_flashed_messages(with_categories=True) %}
{% if mensagens %}
    <div id="container-mensagem">
        {% for categoria, mensagem in mensagens %}
            <div class="mensagem mensagem-{{ categoria }}">
                {{ mensagem }}
            </div>
        {% endfor %}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var mensagens = document.querySelectorAll(".mensagem");
            mensagens.forEach(function(mensagem) {
                mensagem.style.display = "block";
                setTimeout(function() {
                    mensagem.style.opacity = 0;
                    setTimeout(function() {
                        mensagem.style.display = "none";
                    }, 500); // Tempo de transição
                }, 3000); // Tempo em que a mensagem ficará visível
            });
        });
    </script>
{% endif %}
{% endwith %}
    {% if administrador == "N" %}
        Você não tem permissão para acessar esta página
    {% elif administrador == "A" %}
        <h2>Lista de Usuários</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Senha</th>
                    <th>Verificar User</th>
                </tr>
            </thead>
            <tbody>
                {% for item in usuarios %}
                    <tr>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.senha }}</td>
                        <td>{{ item.verificarUser }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}