{% extends "template.html" %}

{% block titulo %} AUMIGO - Animais {% endblock %}

{% block css %}

<style>
    .main-div {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        text-align: center;
        gap: 20px;
        padding: 5%;
    }

    .bloco {
        flex: 1 1 200px;
        height: 300px;
        width: 250px;
        overflow: hidden;
    }

    .bloco img {
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 20px;
        transition: 0.5s;
    }

    .bloco img:hover {
        background-color: #FFFFFF;
        opacity: 0.7;
    }

    @media (min-width: 768px) {
        .bloco {
            max-width: 200%;
            height: auto;
            flex: 1 1 calc(25% - 20px);
        }
    }

    @media (max-width: 767px) {
        .bloco {
            flex: 1 1 100%;
            max-width: 100%;
            height: auto;
        }
    }

    .bloco a {
        text-decoration: none;
        font-weight: bold;
    }

    section{
        background-color: rgb(255, 255, 255);
    }

</style>

{% endblock %}

{% block mainTitulo %}
Animais
{% endblock %}

{% block main %}
<div class="backToHome">
    <a href="{{ url_for('inicio') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
            <path fill="#7c78d0" d="M12 9.059V6.5a1.001 1.001 0 0 0-1.707-.708L4 12l6.293 6.207a.997.997 0 0 0 1.414 0A.999.999 0 0 0 12 17.5v-2.489c2.75.068 5.755.566 8 3.989v-1c0-4.633-3.5-8.443-8-8.941"/>
        </svg>
    </a>
</div>
<h2 style="text-align: center;"><b>Escolha o Aumigo IDEAL!</b></h2>
<div class="main-div" >
    <div class="bloco"><a href="{{ url_for('animais', tipo='cachorro')}}"><img src="{{ url_for('static', filename = 'images/cachorro.png') }}" alt="cachorros">Cachorros</a></div>
    <div class="bloco"><a href="{{ url_for('animais', tipo='gato') }}"><img src="{{ url_for('static', filename = 'images/gato.png') }}" alt="gatos">Gatos</a></div>
    <div class="bloco"><a href="{{ url_for('animais', tipo='coelho') }}"><img src="{{ url_for('static', filename = 'images/coelhos.png') }}" alt="coelhos">Coelhos</a></div>
    <div class="bloco"><a href="{{ url_for('animais', tipo='outros') }}"><img src="{{ url_for('static', filename = 'images/outros.png') }}" alt="outros">Outros</a></div>
</div>
<br><br><br><br>


{% endblock %}

