{% extends "template.html" %}
{% block css%}{% endblock %}
{% block titulo %} AUMIGO {% endblock %}

{% block mainTitulo %}
institucional
{% endblock %}

{% block main %}
		<!-- Start Hero Section -->
        <div class="hero">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="intro-excerpt">
                            <h1>Institucional</h1>
                            <p class="mb-4">Aqui você conhecerá a missão, visão e valores que nos guiam, além de nossa história e compromisso com a excelência. Descubra como nossa equipe e nossos projetos estão moldando o futuro e fazendo a diferença. Agradecemos seu interesse e convidamos você a explorar nosso trabalho e a se conectar conosco.</p>
                            <!--<p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>-->
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="hero-img-wrap">
                            <img src="../static/images/a2.png" class="img-fluid" style="top: -85px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- End Hero Section -->

    

    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
        <div class="container">
            
            
            <div class="row my-5">
                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="../static/../static/images/truck.svg" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Nossa Missão</h3>
                        <p>Facilitamos adoções responsáveis, conectando pessoas e animais com carinho e respeito.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="../static/images/bag.svg" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Quem Somos</h3>
                        <p>Somos uma plataforma dedicada a transformar a vida de animais e seus futuros donos.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="../static/images/support.svg" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Nossos Valores</h3>
                        <p>Valorizamos o bem-estar animal, a transparência e a criação de laços duradouros.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="../static/images/return.svg" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Blog Aumigo</h3>
                        <p>Compartilhamos conteúdos que ajudam você a cuidar e oferecer um lar para seu pet.</p>
                    </div>
                </div>

<!--               <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="../static/images/truck.svg" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Fast &amp; Free Shipping</h3>
                        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="../static/images/bag.svg" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Easy to Shop</h3>
                        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="../static/images/support.svg" alt="Image" class="imf-fluid">
                        </div>
                        <h3>24/7 Support</h3>
                        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="../static/images/return.svg" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Hassle Free Returns</h3>
                        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                    </div>
                </div>-->

            </div>
        
        </div>
    </div>
    <!-- End Why Choose Us Section -->
    {% if posts is not none and posts|length > 0 %}

    <!-- Start Product Section -->
    <div class="product-section pt-0">
        <div class="container">
            <div class="row">

                <!-- Start Column 1 -->
                <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                    <h2 class="mb-4 section-title">Confira nosso Blog!</h2>
                    <p class="mb-4">Cada um deles está esperando por um lar cheio de amor e cuidado, prontos para trazer alegria e companheirismo à sua vida. No nosso blog, você encontra dicas e histórias inspiradoras para ajudar na jornada de adoção e cuidados com seu novo amigo.</p>
                    <p><a href="{{ url_for('blog')}}" class="btn" style="color: white;">Explore</a></p>
                </div> 
                <!-- End Column 1 -->

                <!-- Start Column 2 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="{{ url_for('blog', post_id=posts[0].postID|string) }}">
                        <img src="../static/images/product-1.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">{{posts[0].titulo}}</h3>
                        <strong class="product-price">Escrito por <em>{{posts[0].autor}}</em></strong>

                        <span class="icon-cross">
                            <img src="../static/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div> 
                <!-- End Column 2 -->

                <!-- Start Column 3 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="{{ url_for('blog', post_id=posts[1].postID|string) }}">
                        <img src="../static/images/product-2.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">{{posts[1].titulo}}</h3>
                        <strong class="product-price">Escrito por <em>{{posts[1].autor}}</em></strong>

                        <span class="icon-cross">
                            <img src="../static/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <!-- End Column 3 -->

                <!-- Start Column 4 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="{{ url_for('blog', post_id=posts[2].postID|string) }}">
                        <img src="../static/images/product-3.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">{{posts[2].titulo}}</h3>
                        <strong class="product-price">Escrito por <em>{{posts[2].autor}}</em></strong>

                        <span class="icon-cross">
                            <img src="../static/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <!-- End Column 4 -->

            </div>
        </div>
    </div>
    <!-- End Product Section -->

    {% endif %}

    <!-- Start Testimonial Slider -->
    <div class="testimonial-section before-footer-section" style="background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <h2 class="section-title">Depoimentos</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="testimonial-slider-wrap text-center">

                        <div id="testimonial-nav">
                            <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                            <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                        </div>

                        <div class="testimonial-slider">
                            
                            <div class="item">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mx-auto">

                                        <div class="testimonial-block text-center">
                                            <blockquote class="mb-5">
                                                <p>&ldquo;Descobri o Aumigo enquanto procurava um site confiável para adotar um pet. Fiquei impressionada com a organização e o carinho da plataforma. A adoção do meu gato foi rápida e fácil, e as dicas no blog me ajudaram muito com os cuidados. Recomendo a todos que querem mudar suas vidas e oferecer um lar cheio de amor para um animal.&rdquo;</p>
                                            </blockquote>

                                            <div class="author-info">
                                                <div class="author-pic">
                                                    <img src="../static/images/person_4.jpg" alt="Maria Jones" class="img-fluid">
                                                </div>
                                                <h3 class="font-weight-bold">Ana Beatriz</h3>
                                                <span class="position d-block mb-3">Professora</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                            <!-- END item -->

                            <div class="item">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mx-auto">

                                        <div class="testimonial-block text-center">
                                            <blockquote class="mb-5">
                                                <p>&ldquo;O Aumigo foi uma das melhores descobertas que fiz na internet. A experiência de adotar meu cachorro através da plataforma foi incrivelmente tranquila. Além disso, o blog trouxe informações valiosas que me guiaram nos primeiros meses com ele. É incrível saber que existem iniciativas tão humanas e bem organizadas. Adotar um pet nunca foi tão especial e emocionante.&rdquo;</p>
                                            </blockquote>

                                            <div class="author-info">
                                                <div class="author-pic">
                                                    <img src="../static/images/person_3.jpg" alt="Maria Jones" class="img-fluid">
                                                </div>
                                                <h3 class="font-weight-bold">Lucas Ferreira</h3>
                                                <span class="position d-block mb-3">Desenvolvedor de Software</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                            <!-- END item -->

                            <div class="item">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mx-auto">

                                        <div class="testimonial-block text-center">
                                            <blockquote class="mb-5">
                                                <p>&ldquo;Adotar pelo Aumigo foi muito mais do que uma simples decisão, foi um momento transformador. O site é super intuitivo, e o blog traz conteúdos fantásticos sobre adoção responsável. Foi incrível acompanhar histórias de outros adotantes e, enfim, encontrar o meu novo amigo. Sou extremamente grata por essa experiência única e pela oportunidade de trazer alegria para minha vida.&rdquo;</p>
                                            </blockquote>

                                            <div class="author-info">
                                                <div class="author-pic">
                                                    <img src="../static/images/person-1.png" alt="Maria Jones" class="img-fluid">
                                                </div>
                                                <h3 class="font-weight-bold">Mariana Oliveira</h3>
                                                <span class="position d-block mb-3">Médica Veterinária</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                            <!-- END item -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonial Slider -->
{% endblock %}