<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/css/login.css" rel="stylesheet">
  <title>AUMIGO - Login</title>
  <style>
    .backToHome{
      position: fixed;
      left: 1%;
      top: 1%;
    }

    svg:hover path{
      fill: #7c78d0;
    }
  </style>
</head>
<body>
  <div class="backToHome"><a href="inicio"><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="#fff" d="M12 9.059V6.5a1.001 1.001 0 0 0-1.707-.708L4 12l6.293 6.207a.997.997 0 0 0 1.414 0A.999.999 0 0 0 12 17.5v-2.489c2.75.068 5.755.566 8 3.989v-1c0-4.633-3.5-8.443-8-8.941"/></svg></a></div>

  <div class="wrapper">
    <div class="title-text">
      <div class="title login">Login</div>
      <div class="title signup">Cadastro</div>
    </div>
    <div class="form-container">
      <div class="slide-controls">
        <input type="radio" name="slide" id="login" checked>
        <input type="radio" name="slide" id="signup">
        <label for="login" class="slide login">Login</label>
        <label for="signup" class="slide signup">Cadastro</label>
        <div class="slider-tab"></div>
      </div>
      <div class="form-inner">
        <form action="login" class="login">
          <div class="field">
            <input type="text" name="email-login" placeholder="Email" required>
          </div>
          <div class="field">
            <input type="password" name="password-login" placeholder="Senha" required>
          </div>
          <div class="pass-link"><a href="#">Esqueceu a senha?</a></div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Login">
          </div>
          <div class="signup-link">Não tem Cadastro? <a href="">Cadastrar Agora</a></div>
        </form>
        <form action="cadastro" class="signup">
          <div class="field">
            <input type="text" name="email" placeholder="Email" required>
          </div>
          <div class="field">
            <input type="password" name="password" placeholder="Senha" required>
          </div>
          <div class="field">
            <input type="password" name="confirm-password" placeholder="Confirmar Senha" required>
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Cadastrar">
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    const signupLink = document.querySelector("form .signup-link a");
    signupBtn.onclick = (()=>{
      loginForm.style.marginLeft = "-50%";
      loginText.style.marginLeft = "-50%";
    });
    loginBtn.onclick = (()=>{
      loginForm.style.marginLeft = "0%";
      loginText.style.marginLeft = "0%";
    });
    signupLink.onclick = (()=>{
      signupBtn.click();
      return false;
    });
  </script>
</body>
</html>





