{% extends "template.html" %}

{% block css%}
<style>

  
    .profile-container {
        display: flex;
        justify-content: center; /* Centraliza os itens horizontalmente */
        align-items: flex-start; 
        gap: 40px; /* Espaçamento entre o formulário e o card */
        margin: 0 auto; /* Centraliza no viewport */
        max-width: 1200px; /* Limita a largura total do contêiner */
        padding: 20px;
    }

    .card-profile {
        flex: 1;
        min-width: 400px; /* Largura mínima do card */
        max-width: 500px; /* Largura máxima do card */
        min-height: 100%; /* Ajusta a altura mínima */
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Mantém o conteúdo do card bem distribuído */
    }

    .form-profile {
        flex: 1;
        min-width: 400px; /* Largura mínima do formulário */
        max-width: 500px; /* Largura máxima do formulário */
        min-height: 100%; /* Altura mínima para igualar com o card */
    }

    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centraliza o conteúdo verticalmente */
        align-items: center; /* Centraliza o conteúdo horizontalmente */
        padding: 20px;
    }

    .card-profile-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .form-profile{
      border-left: 2%;
      border-right: 2%;
    }

    .mensagem {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        z-index: 1000;
        display: none;
    }
    .mensagem-sucesso {
        background-color: #28a745; /* Verde para sucesso */
    }
    .mensagem-erro {
        background-color: #dc3545; /* Vermelho para erro */
    }

    #imageLabel {
      display: inline-block;
  }

    .li-animais {
      border: solid #3d3776 3px; 
      border-radius: 30px; 
      height: 300px; 
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .ul-animais {
      display: grid;
      grid-template-columns: 50px 50px 50px 50px;
      grid-template-rows: auto;
      align-self: center;
      gap: 10px 10px;
      justify-items: center;
      align-items: center;
      justify-content: space-around; 
    }

    .button-container {
      display: flex;
      justify-content: flex-end; /* Alinha o botão à direita */
      margin-top: 20px; /* Espaço entre o botão e o restante do form */
    }

    .btn {
        padding: 10px 20px;
    }

    @media (max-width: 768px) {
      .profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
      .profile{
        margin-top: 0px;
      }
    }

    @media (max-width: 992px) {
      .profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
      .profile{
        margin-top: 0px;
      }
    }

  .titulo{
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
  }

  .titulo::after {
    content: "";
    flex-grow: 1; 
    height: 2px;
    background-color: rgb(82, 95, 127);
    opacity: .3;
    margin-left: 10px;
  }
  table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
    }

    th, td {
        padding: 12px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f8f9fa;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    .btn-excluir {
        background-color: #dc3545;
        color: #fff;
    }

</style>
<link href="static/css/perfil.css" rel="stylesheet"> 
{% endblock %}


{% block titulo %} Perfil {% endblock %}

{% block mainTitulo %}
Alterar Dados
{% endblock %}
dados aqui
{% block main %}
{% with mensagens = get_flashed_messages(with_categories=True) %}
{% if mensagens %}
    <div id="container-mensagem">   
        {% for categoria, mensagem in mensagens %}
            <div class="mensagem mensagem-{{ categoria }}">
                {{ mensagem }}
            </div>
        {% endfor %}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var mensagens = document.querySelectorAll(".mensagem");
            mensagens.forEach(function(mensagem) {
                mensagem.style.display = "block";
                setTimeout(function() {
                    mensagem.style.opacity = 0;
                    setTimeout(function() {
                        mensagem.style.display = "none";
                    }, 500); // Tempo de transição
                }, 3000); // Tempo em que a mensagem ficará visível
            });
        });
    </script>
{% endif %}
{% endwith %}

<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-lg-5">
              <div class="intro-excerpt">
                  <h1>Perfil</h1>
              </div>
          </div>
          <div class="col-lg-7">
          </div>
      </div>
  </div>
</div>
<!-- End Hero Section -->
<form action="{{ url_for('perfil', usuario_id=usuario.usuarioID) }}" method="POST" enctype="multipart/form-data">
<div class="profile-container">
  <!-- Card de perfil com foto -->

  <div class="profile"  style="margin-top: -80px;">
    <div class="card card-profile shadow">
      <div class="row justify-content-center">
        <div class="col-lg-3 order-lg-2">
          <div class="card-profile-image">
            {% if imgPerfil_url %}
                  <input type="file" id="file" name="file" accept="image/*" style="display: none;" name="imgPerfil">
                  <label for="file" id="imageLabel">
                    <img 
                      id="imageDisplay" 
                      alt="Imagem carregada aparecerá aqui." 
                      style="
                        height: 150px; 
                        cursor: pointer; 
                        width: 150px; /* Garante que a largura seja igual à altura */
                        object-fit: cover; /* Mantém o aspect ratio sem distorção */
                        overflow: hidden; /* Para segurança, no caso de elementos visíveis fora */
                      " 
                      src="{{imgPerfil_url}}"
                    >
                  </label>
                {% else %}
                  <div>
                    <h2>Imagem de Perfil Atual:</h2>
                    <p>Nenhuma imagem de perfil definida.</p>
                  </div>
                {% endif %}
              </label>
          </div>
        </div>
      </div>

    <div class="card-body pt-0 pt-md-4">
      <div class="row">
        <div class="col">
          <div class="card-profile-stats d-flex justify-content-center mt-md-5">
            <div>
              <span class="heading">{{usuario.animais|length}}</span>
              <span class="description">Animais</span>
            </div>
            <div>
              <span class="heading">{{usuario.posts|length}}</span>
              <span class="description">Salvos</span>
            </div>
            <div>
              <span class="heading">{{usuario.posts|length}}</span>
              <span class="description">Publicados</span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <h3>
        {{usuario.nome}}<span class="font-weight-light"></span>
        </h3>
        <div class="h5 font-weight-300">
          <i class="ni location_pin mr-2"></i>
        </div>
   
        <div>
          <i class="ni education_hat mr-2"></i>Brazil
        </div>
        <hr class="my-4">
        <p>{{usuario.desc}}</p>
      </div>
    </div>
    </div>
    </div>

  <!-- Formulário de informações pessoais -->



<div class="profile-infos">
        <h6 class="heading-small text-muted mb-4">Informações de Perfil</h6>
        <div class="pl-lg-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Nome</label>
                        <input type="text" id="input-username" name="nome" class="form-control form-control-alternative" placeholder="Nome" value="{{usuario.nome}}">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-email">Email</label>
                        <input type="email" id="input-email" name="email" class="form-control form-control-alternative" placeholder="Email" value="{{usuario.email.lower()}}">
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <h6 class="heading-small text-muted mb-4">Sobre mim</h6>
        <div class="pl-lg-4">
            <div class="form-group focused">
                <label>Sobre mim</label>
                <textarea rows="4" name="desc" class="form-control form-control-alternative" placeholder="Descrição">{{usuario.desc}}</textarea>
            </div>
        </div>
      <div class="button-container">
        <button class="btn btn-sm btn-primary" type="submit">Atualizar Perfil</button>
      </div>
    </form>
  </div>
</div>




<!--  <form action="{{ url_for('perfil', usuario_id=usuario.usuarioID) }}" method="POST" enctype="multipart/form-data">-->
      <!-- Campos do formulário -->
      
<!--       <div>
            {% if imgPerfil_url %}
              <input type="file" id="file" name="file" accept="image/*" style="display: none;" name="imgPerfil">
              <label for="file" id="imageLabel">
                  <img id="imageDisplay" alt="Imagem carregada aparecerá aqui." style="width: 150px; cursor: pointer;" src="{{imgPerfil_url}}">
              </label>
            {% else %}
              <div>
                  <h2>Imagem de Perfil Atual:</h2>
                  <p>Nenhuma imagem de perfil definida.</p>
              </div>
            {% endif %}
          </label>
      </div>
      
      <!-- Botão de envio -->
<!--      <div>
          <button type="submit">Atualizar Perfil</button>
      </div>
  </form>-->

  <!-- Mensagens de sucesso ou erro -->
  {% if 'sucesso' in get_flashed_messages() %}
      <div class="alert alert-success">{{ get_flashed_messages()[0] }}</div>
  {% endif %}
  {% if 'erro' in get_flashed_messages() %}
      <div class="alert alert-error">{{ get_flashed_messages()[0] }}</div>
  {% endif %}

</main>



<!--link do template: https://www.creative-tim.com/bits/bootstrap/user-profile-page-argon-dashboard-->
<!--
<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;">
<div>
  <form action="{{ url_for('perfil') }}" method="POST" enctype="multipart/form-data">
  <button type="submit" class="btn btn-sm btn-primary">Atualizar Perfil</button>
  <div class="card-body">
    <form class="form-profile">
      <h6 class="heading-small text-muted mb-4">Informações de Perfil</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group focused">
              <label class="form-control-label" for="input-username">Nome</label>
              <input type="text" id="input-username" name="nome" class="form-control form-control-alternative" placeholder="Nome" value="{{usuario.nome}}">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-email">Email</label>
              <input type="email" id="input-email" name="email" class="form-control form-control-alternative" placeholder="Email" value="{{usuario.email.lower()}}">
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4">-->
      <!-- Description -->
      <!--
      <h6 class="heading-small text-muted mb-4">Sobre mim</h6>
      <div class="pl-lg-4">
        <div class="form-group focused">
          <label>Sobre mim</label>
          <textarea rows="4" name="desc" class="form-control form-control-alternative" placeholder="A few words about you ...">{{usuario.desc}}</textarea>
        </div>
      </div>
     
</div>-->
<!--<div>
  <label for="foto">Foto de Perfil:</label>
  <input type="file" id="foto" name="foto" accept="image/*">
  {% if usuario.foto %}
      <img src="{{ url_for('static', filename=usuario.foto) }}" alt="Foto de Perfil" width="150">
  {% endif %}
</div>-->
<!--
  </div>-->
<!--

<div class="perfil-container">
  Exibe a imagem atual do perfil (ou uma padrão)
  <img id="img-preview" src="static/images/person_1.jpg" alt="Imagem de Perfil">
  
  Input de arquivo oculto sobre a imagem 
  <input type="file" name="imgPerfil" accept="image/*" onchange="previewImagem(event)">
</div>

-->


<script>
  const fileInput = document.getElementById('file');
  const imageDisplay = document.getElementById('imageDisplay');

  // Imagem padrão que você deseja mostrar inicialmente
  imageDisplay.src = '{{ imgPerfil_url }}';

  fileInput.addEventListener('change', function() {
      const file = fileInput.files[0];
      const reader = new FileReader();

      reader.onload = function(e) {
          imageDisplay.src = e.target.result; //Atualiza a imagem exibida
      };

      if (file) {
          reader.readAsDataURL(file); //Lê a imagem selecionada como URL de dados
      }
  });
</script>



<div class="titulo"><h2>Animais Adicionados</h2></div>
<br>
<a href="{{ url_for('addAnimal') }}" class="btn btn-sm btn-primary" style="margin: 20px; margin-left: 110px;">Adicionar Animal</a>
<ul class="ul-animais">
    {% for animal in animais %}
        <li class="li-animais">
            <div style="height: 200px; width: 200px; background-color: blanchedalmond; overflow: hidden;">
              {% if animal.foto %}
                <img src="{{ url_for('image', image_id=animal.foto[0]) }}" alt="Imagem do Animal" style="height: 200px; position: relative;   transform: translate(-50%, -50%);  left: 50%;  top: 50%;">
              {% else %}
                <p>Imagem não disponível</p>
              {% endif %}
            </div>
            <strong>{{ animal.nome }}</strong> - {{ animal.desc }}
            <form action="{{ url_for('deletar_animal', animal_id=animal.animalID) }}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-sm btn-danger" style="color: white !important;">Deletar</button>
            </form>
        </li>
    {% else %}
    <li>Nenhum animal cadastrado.</li>
    {% endfor %}
</ul>
<br><br><br><br><br>

<div class="titulo"><h2>Blog</h2></div>
<br>
<a href="{{ url_for('addPost') }}" class="btn btn-sm btn-primary" style="margin: 20px; margin-left: 110px;">Adicionar Post</a>
<div>
  <ul class="ul-animais" >
    {% for post in posts %} 
        <li class="li-animais" style="height: 200px !important;">
            <div style="height: 100px; width: 200px; overflow: hidden;">
              <p style="text-align: center;"><b> Título: {{ post.titulo}}</b></p>
              <p style="text-align: center;"><b>{{ post.dataCriacao }}</b></p>
            </div>
            <form action="{{ url_for('apagar_post', post_id=post['_id']) }}" method="POST" style="display:inline;">
              <br>
                <button type="submit"  class="btn btn-sm btn-danger" style="color: white !important;">Apagar</button>
            </form>
        </li>
    {% else %}
        <li>Nenhum post cadastrado.</li>
    {% endfor %}
</ul>

</div>

{% if administrador == "A" %}


<div class="titulo"><h2>Lista de Usuários</h2></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in usuarios %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.verificarUser }}</td>
                <td>
                  {% if item.verificarUser == "N" %}
                    <a href="{{ url_for('apagar_usuario', user_id=item.usuarioID) }}" class="btn btn-excluir">Excluir</a>
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<br><br><br><br><br>

{% endblock %}